services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: rpg
      POSTGRES_PASSWORD: rpg
      POSTGRES_DB: rpgelsewhere
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
